html {
    display: flex;
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    background-color: #0d1117;
    color: #c9d1d9;
    display: flex;
    flex: 1;
    flex-direction: column;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    align-items: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: normal;
}

div#name {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 0 10vw;
    border: solid 0.05rem #8b949e;
    border-radius: 0.5rem;
}
